@page "/players"
@using FootballBlazorApp.DTO
@inject HttpClient Http

<h3 class="text-white bg-primary p-2">Players</h3>

@if (players == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @foreach (var p in players)
        {
            <div class="col-md-4 mb-3">
                <div class="card bg-primary text-white">
                    <div class="card-header">@p.Name</div>
                    <div class="card-body">
                        <p>Team: @p.TeamName</p>
                        <p>Birth: @p.BirthDate.ToShortDateString()</p>
                        <p>Position: @p.Position</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    List<PlayerDto>? players;

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<List<PlayerDto>>("api/players");
    }
}
