@page "/teams"
@using FootballBlazorApp.DTO
@inject HttpClient Http

<h3 class="text-white bg-success p-2">Teams</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @foreach (var t in teams)
        {
            <div class="col-md-4 mb-3">
                <div class="card bg-success text-white">
                    <div class="card-header">@t.TeamName</div>
                    <div class="card-body">
                        <p>Country: @t.Country</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    List<TeamDto>? teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await Http.GetFromJsonAsync<List<TeamDto>>("api/teams");
    }
}
